<div class="row">
  <div class="col-sm-4" *ngFor="let card of platillos">
    <div class="card spacing" >
      <img class="card-img-top" src="{{card.urlImg}}" alt="Card image cap">
      <h5 class="card-header">{{card.titulo}}</h5>
      <div class="card-body">
        <p class="card-text">
          {{card.descripcion}}
        </p>
        <p class="card-text font-weight-bold">
          ${{card.precio}}
        </p>
      </div>
      <a href="#" class="btn btn-primary btn-lg btn-block">Añadir al carrito</a>
    </div>
  </div>
</div>
